:host {
  display: block;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.text-primary {
  color: #2196f3;
}

mat-card {
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
