.header-component{
    margin: 0;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 1rem 10rem;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header-menu{
    position: absolute;
    right: 10rem;
}

.header-menu-background {
    width: 20rem;
    height: 10rem;
    background-color: black;
    border-radius: 50%;
    position: absolute; 
    right: -30rem; 
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    z-index: 1; 
    

}


.header-menu:hover .header-menu-background {
    right: -13rem;
    background: rgb(7, 53, 75);
    filter: blur(20px);
    transition: all 0.3s ease-in-out;
}



.out-option {
    position: relative;
    color: white;
    z-index: 2; 
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    pointer-events: auto; 

}


.logo-component{
    width: 150px; /* Ajusta el ancho */
    height: auto; /* Mantén la proporción original */
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
    display: block; /* Evita espacios adicionales alrededor de la imagen */
}

.logo-container{
    background-color: white;
    height: 140%;
    width: 200px;
    border-radius: 50%;
}