<div class="create-aquaculture-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Crear Nueva Acuicultura</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form [formGroup]="aquacultureForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="aquacultureForm.get('name')?.errors?.['required']">El nombre es requerido</mat-error>
          <mat-error *ngIf="aquacultureForm.get('name')?.errors?.['minlength'] || aquacultureForm.get('name')?.errors?.['maxlength']">
            El nombre debe tener entre 2 y 50 caracteres
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required type="email">
          <mat-error *ngIf="aquacultureForm.get('email')?.errors?.['required']">El email es requerido</mat-error>
          <mat-error *ngIf="aquacultureForm.get('email')?.errors?.['email']">Email inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>RUT</mat-label>
          <input matInput formControlName="rut" required>
          <mat-error *ngIf="aquacultureForm.get('rut')?.errors?.['required']">El RUT es requerido</mat-error>
          <mat-error *ngIf="aquacultureForm.get('rut')?.errors?.['minlength'] || aquacultureForm.get('rut')?.errors?.['maxlength']">
            El RUT debe tener entre 8 y 12 caracteres
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="phoneNumber" required>
          <mat-error *ngIf="aquacultureForm.get('phoneNumber')?.errors?.['required']">El teléfono es requerido</mat-error>
          <mat-error *ngIf="aquacultureForm.get('phoneNumber')?.errors?.['minlength'] || aquacultureForm.get('phoneNumber')?.errors?.['maxlength']">
            El teléfono debe tener entre 9 y 15 caracteres
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!aquacultureForm.valid">
          Crear Acuicultura
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
