<div class="user-list-container">
    <ng-container *ngIf="users.length > 0; else noUsers">
        <div *ngFor="let user of users">
            <mat-card class="user-card">
                <mat-card-content>
                    <div class="user-info">
                        <h3>{{user.name}} {{user.lastName}}</h3>
                        <p>{{user.email}}</p>
                        <p>RUT: {{user.rut}}</p>
                        <p>Role: {{getRoleName(user.role)}}</p>
                        <div class="action-buttons">
                            <button mat-button color="warn" (click)="toggleDisableUser(user.rut, user.isActive)">
                                {{ user.isActive ? 'Desactivar' : 'Activar' }} Usuario
                            </button>
                            <button mat-button color="warn" (click)="toggleDeleteUser(user.rut, user.isDeleted)">
                                {{ user.isDeleted ? 'Restaurar' : 'Eliminar' }} Usuario
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>

    <ng-template #noUsers>
        <p class="text-primary">No hay usuarios para mostrar</p>
    </ng-template>

    <div class="pagination-controls">
        <button mat-button 
                class="text-primary"
                [disabled]="currentPage === 1"
                (click)="previousPage()">
            <mat-icon>chevron_left</mat-icon>
            Anterior
        </button>
        <span class="page-indicator text-primary">Página {{currentPage}}</span>
        <button mat-button 
                class="text-primary"
                [disabled]="!hasMorePages"
                (click)="nextPage()">
            Siguiente
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>