<div class="profile-container">
    <div class="cards-wrapper">
        <!-- Card de información básica -->
        <mat-card class="profile-card">
            <mat-card-header class="theme-aware-header">
                <div mat-card-avatar class="profile-image"></div>
                <h2 class="!m-0">{{user.name}} {{user.lastName}}</h2>
                <p class="">{{user.role | role}}</p>

        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="flex flex-col gap-2 mt-5">
                <div class="flex items-center gap-2">
                    <mat-icon>email</mat-icon>      
                    <p>{{user.email}}</p>
                </div>
                <div class="flex items-center gap-2">
                    <mat-icon>badge</mat-icon>
                    <p>{{user.rut}}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="right-column">
        <!-- Card de configuración -->
        <mat-card class="settings-card">
            <mat-card-header> 
                <h2>Configuración de la cuenta</h2>
            </mat-card-header>
            <mat-card-content> 
                <div class="space-y-6">
                    <div class="config-item">
                        <div class="flex items-center gap-1">
                            <div>
                                <h3 class="!m-0">Contraseña</h3>
                                <p >Cambia tu contraseña para mantener tu cuenta segura</p>
                            </div>
                        </div>
                        <div class="flex items-center">
                            <button mat-raised-button 
                                    color="primary" 
                                    class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-all duration-300"
                                    (click)="openResetPasswordModal()">
                                <div class="btn-text-container">
                                    <mat-icon>key</mat-icon>
                                    <p class="!text-white !mb-0 !ml-2">Cambiar Contraseña</p>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="config-item">
                        <div class="flex items-center gap-4">
                            <div>
                                <h3 class="!m-0">Seguridad</h3>
                                <p >Activa la verificacion en dos pasos para mantener tu cuenta segura</p>
                            </div>
                        </div>
                        <button mat-raised-button color="primary" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-all duration-300">Seguridad</button>
                    </div>
                    <div class="config-item">
                        <div class="flex items-center gap-4">
                            <div>
                                <h3 class="!m-0">Dispositivos</h3>
                                <p >Revisa los dispositivos que se han registrado en tu cuenta</p>
                            </div>
                        </div>
                        <button mat-raised-button 
                                color="primary" 
                                [routerLink]="['/my-devices']"
                                class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-all duration-300"
                                >
                                <div class="btn-text-container">
                                    <mat-icon>devices</mat-icon>
                                    <p class="!text-white !mb-0 !ml-2">Ver mis Dispositivos</p>
                                </div>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Card de auditoría -->
        <mat-card class="audit-card">
            <mat-card-header>
                <h2>Historial de Actividad</h2>
            </mat-card-header>
            <mat-card-content>
                <div class="audit-list">
                    <div *ngFor="let audit of audits" class="audit-item">
                        <div class="audit-header">
                            <mat-icon>history</mat-icon>
                            <span class="audit-date">{{audit.performedAt | date:'dd/MM/yyyy HH:mm'}}</span>
                        </div>
                        <div class="audit-content">
                            <p class="audit-action">
                                <span class="font-medium">Acción:</span> {{audit.action}}
                            </p>
                            <p class="audit-id">
                                <span class="font-medium">ID:</span> {{audit.id}}
                            </p>
                            <p class="audit-user">
                                <span class="font-medium">Usuario:</span> {{audit.performedBy}}
                            </p>
                        </div>
                    </div>
                </div>
                <mat-paginator
                    [length]="totalAudits"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25]"
                    (page)="onPageChange($event)"
                    aria-label="Seleccionar página">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>
