<div class="profile-container">
    <mat-card class="basic-info-card w-1/3">
        <mat-card-header>
        
                <div mat-card-avatar class="example-header-image"></div>
                <h2 class="!m-0">{{user.name}} {{user.lastName}}</h2>
                <p class="!m-0">{{user.role | role}}</p>

        </mat-card-header>
        <mat-card-content>
            <div class="flex items-center gap-2">
                <mat-icon>email</mat-icon>      
                <p>{{user.email}}</p>
            </div>
            <div class="flex items-center gap-2">
                <mat-icon>badge</mat-icon>
                <p>{{user.rut}}</p>
            </div>
            <div class="flex items-center gap-2">
                <mat-icon>badge</mat-icon>
                <p>{{user.role}}</p>
            </div>
        </mat-card-content>
    </mat-card>

  <!-- Contenido específico según el tipo de usuario -->
  <ng-container [ngSwitch]="userType">
    <!-- <app-admin-profile *ngSwitchCase="'admin'" [userData]="userData"></app-admin-profile> -->
    <!-- <app-user-profile *ngSwitchCase="'user'" [userData]="userData"></app-user-profile> -->
  </ng-container>
</div>
