:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa todo el espacio disponible del layout */
    background-color: #f9f9f9; /* Ejemplo de color de fondo */
  }
  

.dashboard-container{
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
}