<section class="auth-container">
  <mat-card class="card-container" [class.expanded]="showPassword">
    <div class="logo-container">
      <img src="/logo/twlog.png" alt="Logo troughtworks" class="logo">
      <h2>Iniciar Sesión</h2>
    </div>

    <div class="card-body-container">
      <form (ngSubmit)="onSumbit()">
        <mat-form-field class="rut-field" appearance="outline">
          <mat-icon matPrefix>badge</mat-icon>
          <mat-label>Ingrese su Rut con puntos y guión</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="rut"
            (input)="onRutInput()"
            maxlength="12"
            name="rut"
          />
        </mat-form-field>

        <mat-form-field
          *ngIf="showPassword"
          class="password-field"
          appearance="outline"
        >
          <mat-icon matPrefix>lock</mat-icon>
          <mat-label>Ingrese su Contraseña</mat-label>
          <input
            matInput
            [(ngModel)]="password"
            [type]="showPasswordIcon ? 'text' : 'password'"
            name="password"
          />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPasswordIcon ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>

        <div class="options-container">
          <mat-checkbox
            [(ngModel)]="rememberMe"
            name="rememberMe"
            color="primary">
            Recuérdame
          </mat-checkbox>
          <span class="link" (click)="openForgotPasswordDialog()">¿Olvidaste tu contraseña?</span>
        </div>

        <div class="btn-container">
          <button mat-flat-button type="submit" class="btn-style" [disabled]="!isFormValid()">
            <div class="btn-text-container">
              <mat-spinner *ngIf="isLoading" diameter="24" strokeWidth="2" color="accent"></mat-spinner>
              <p class="!mb-0 !ml-2">Ingresar</p>
            </div>
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</section>
