<div class="min-h-screen bg-gray-50 p-8">
    <div class="max-w-2xl mx-auto">
        <mat-card>
            <mat-card-header class="flex flex-col items-center">
                <div class="flex items-center space-x-2 flex-col">
                    <mat-icon class="text-primary">person_add</mat-icon>
                    <mat-card-title>Registro de Usuario</mat-card-title>
                    <mat-card-subtitle>
                        Crear nueva cuenta de usuario en el sistema
                    </mat-card-subtitle>
                </div>

            </mat-card-header>
            
            <mat-card-content>
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="name" placeholder="Juan">
                            <mat-error *ngIf="userForm.get('name')?.hasError('required')">
                                El nombre es requerido
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Apellido</mat-label>
                            <input matInput formControlName="lastName" placeholder="Pérez">
                            <mat-error *ngIf="userForm.get('lastName')?.hasError('required')">
                                El apellido es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput formControlName="email" type="email" 
                               placeholder="juan.perez@empresa.com">
                        <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                            El correo electrónico es requerido
                        </mat-error>
                        <mat-error *ngIf="userForm.get('email')?.hasError('email')">
                            Ingrese un correo electrónico válido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>RUT</mat-label>
                        <input matInput formControlName="rut" placeholder="12.345.678-9">
                        <mat-error *ngIf="userForm.get('rut')?.hasError('required')">
                            El RUT es requerido
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Rol del Usuario</mat-label>
                        <mat-select formControlName="role">
                            <mat-option *ngFor="let role of roleOptions" [value]="role.value">
                                <div class="flex items-center">
                                    <mat-icon>{{getRoleIcon(role.value)}}</mat-icon>
                                    <span>{{ role.label }}</span>
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full" 
                                  *ngIf="userForm.get('role')?.value === roles.OWNER">
                        <mat-label>RUT Acuícola</mat-label>
                        <input matInput formControlName="aquacultureRut">
                        <mat-error *ngIf="userForm.get('aquacultureRut')?.hasError('required')">
                            El RUT Acuícola es requerido para Owners
                        </mat-error>
                    </mat-form-field>

                    <button mat-raised-button color="primary" 
                            type="submit" 
                            [disabled]="!userForm.valid">
                        <mat-icon>person_add</mat-icon>
                        Crear Usuario
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
